

<div *ngIf="trip">

    <h2>{{trip.name | uppercase}} Details</h2>
    <div><span>id: </span>{{trip.id}}</div>
    <div><span>airportFrom: </span>{{trip.airportFrom}}</div>
    <div><span>airportTo: </span>{{trip.airportTo}}</div>
    <div><span>hotelTo: </span>{{trip.hotelTo}}</div>
    <div><span>cityTo: </span>{{trip.cityTo}}</div>
    <div><span>departureDate: </span>{{datawyl}}</div>
    <div><span>returnDate: </span>{{dataprzyl}}</div>
    <div><span>countOfDays: </span>{{trip.countOfDays}}</div>
    <div><span>type: </span>{{trip.type}}</div>
    <div><span>priceForAdult: </span>{{trip.priceForAdult}}</div>
    <div><span>priceForChild: </span>{{trip.priceForChild}}</div>
    <div><span>promotion: </span>{{trip.promotion}}</div>
    <div><span>countOfPeople: </span>{{trip.countOfPeople}}</div>
    <div><span>description: </span>{{trip.description}}</div>

  </div>